//- ************************************************************************ -//
//-                                                                          -//
//-                                                       :::      ::::::::  -//
//-  menu.jade                                          :+:      :+:    :+:  -//
//-                                                   +:+ +:+         +:+    -//
//-  By: adjivas <adjivas@student.42.fr>            +#+  +:+       +#+       -//
//-                                               +#+#+#+#+#+   +#+          -//
//-  Created: 2014/09/15 10:02:36 by adjivas           #+#    #+#            -//
//-  Updated: 2014/09/15 10:02:36 by adjivas          ###   ########.fr      -//
//-                                                                          -//
//- ************************************************************************ -//

//- Circular Menu -//

empty(selected, safe)
alpha
ghost
altab
arrow
shift
move
free
resize
control
drag
double
right
left
