//- ************************************************************************ -//
//-                                                                          -//
//-                                                       :::      ::::::::  -//
//-  mouscreen.jade                                     :+:      :+:    :+:  -//
//-                                                   +:+ +:+         +:+    -//
//-  By: adjivas <adjivas@student.42.fr>            +#+  +:+       +#+       -//
//-                                               +#+#+#+#+#+   +#+          -//
//-  Created: 2014/09/15 10:02:36 by adjivas           #+#    #+#            -//
//-  Updated: 2014/09/15 10:02:36 by adjivas          ###   ########.fr      -//
//-                                                                          -//
//- ************************************************************************ -//

program
  version
  configuration
  close
  github
  menu
    include menu
  dial(active='false')
    pointer
