/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   default.js                                         :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: adjivas <adjivas@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2014/09/15 10:02:36 by adjivas           #+#    #+#             */
/*   Updated: 2014/09/15 10:02:36 by adjivas          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@charset 'UTF-8';

:root {
  @background-color: rgb(118, 84, 144);
  @mouse-color: rgb(101, 105, 109);
  @border-color: rgb(0, 0, 0);
  @font-color: rgb(255, 255, 255);
  @selected-color: rgb(206, 178, 223);

  background-color: @background-color;
  mousetool {
    text-shadow: 0 0 7px rgba(0, 0, 0, .5);
    left {
      background-image: url('./app/image/default/left.png');
    }
    drag {
      background-image: url('./app/image/default/drag.png');
    }
    right {
      background-image: url('./app/image/default/right.png');
    }
    empty {
      background-image: url('./app/image/default/empty.png');
    }
    arrow {
      background-image: url('./app/image/default/arrow.png');
    }
    ghost {
      background-image: url('./app/image/default/ghost.png');
    }
    *[selected] {
      background-color: @selected-color;
    }
  }
  mousecontent {
    border-radius: 100%;
    background-color: @mouse-color;
    box-shadow: 0 0 0 4px rgb(0, 0, 0),
                0 0 0 16px rgb(39, 41, 43),
                0 0 0 19px rgb(212, 178, 232);
    pointer {
      background-image: url('./app/image/default/pointer.png');
    }
  }
}
