/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   source.js                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: adjivas <adjivas@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2014/09/15 10:02:36 by adjivas           #+#    #+#             */
/*   Updated: 2014/09/15 10:02:36 by adjivas          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@charset 'UTF-8';

:root {
  -webkit-user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;

  body {
    position: fixed;
    margin: 0px;
    width: 420px;
    height: 420px;
    min-width: 420px;
    min-height: 420px;
  }
  mousetool {
    position: absolute;
    margin: 185px;
    width: 100%;
    height: 100%;
    * {
      position: absolute;
      width: 50px;
      height: 50px;
    }
  }
  mousecontent {
    position: absolute;
    width: 260px;
    height: 260px;
    left: 0px;
    top: 0px;
    margin: 80px;
    pointer {
      position: relative;
      display: block;
      width: 262px;
      height: 262px;
    }
  }
  * {
    pointer-events: none;
  }
}
